#page {
  width: calc(100%);
  height: calc(100% - 3rem);
  max-width: 90%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.schedules__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.schedules__list {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  gap: 1rem;

  & .bp5-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }
}
