#page {
  width: calc(100%);
  height: calc(100% - 50px);
  max-width: 90%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.sources__input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;

  & .bp5-button {
    width: 100%;
    max-width: 200px;
  }
}

.data-providers__grid {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.data-providers__grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  gap: .75rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  transform: scale(1.0);
  // @see https://dev.to/vadimdemedes/making-electron-apps-feel-native-on-mac-52e8#cursor
  cursor: default;
  text-align: center;
  opacity: 1;

  img {
    width: 100%;
    max-width: 40px;
    height: auto;
    margin: 10px;
    aspect-ratio: 1/1;
  }

  .bp5-text {
    flex: 1 0 auto;
  }
}

#layout.bp5-dark .data-providers__grid__item__image--invert {
  filter: invert(1);
}

#layout:not(.bp5-dark) .data-providers__grid__item__image--invert {
  filter: invert(0);
}

.data-providers__grid__not-found,
.data-providers__grid__loading {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.data-providers__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 100px;
  opacity: 0.75;
  text-align: center;
  line-height: 1.6;
}

.data-providers__gallery {
  width: 100%;
  height: 100%;
  padding-top: 1rem;

  .bp5-tabs {
    height: 100%;
    gap: .5rem;
  }
}

.bp5-tab-list {
  width: 100%;
  max-width: 260px;
  gap: .5rem;

  .bp5-tab {
    font-weight: 500;
    font-size: 1.1rem;
    color: #555;
  }

  & * {
    width: 100% !important;
  }
}

.bp5-tab-panel {
  width: 100%;
}

.data-providers__gallery__tabs__tab {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 160px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2px 1rem;
}

.data-providers__gallery__tabs__tab__inner {
  width: 100%;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.data-providers__gallery__item {
  padding: 30px 5px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 1rem !important;
  text-align: center;
  // @see https://dev.to/vadimdemedes/making-electron-apps-feel-native-on-mac-52e8#cursor
  cursor: default;
  transition: opacity 200ms ease-out;
  opacity: 1;

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
  }
}

#layout.bp5-dark .data-providers__gallery__item__image--invert {
  filter: invert(1);
}

#layout:not(.bp5-dark) .data-providers__gallery__item__image--invert {
  filter: invert(0);
}
