.simple-webpage-screenshot-show-fragment__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  gap: 0;

  .simple-webpage-screenshot-show-fragment__inner {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition:
      background-color 250ms,
      filter 250ms;
    border-radius: 7px;
    display: flex;
    flex-direction: column;

    .simple-webpage-screenshot-show-fragment__toggle-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
    }

    .simple-webpage-screenshot-show-fragment__media {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      position: relative;
      padding: 20px 0;
    }

    .simple-webpage-screenshot-show-fragment__media__image {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-x: auto;

      .bp5-context-menu {
        margin: auto;
      }
    }

    .simple-webpage-screenshot-show-fragment__media__to-top-button {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    .simple-webpage-screenshot-show-fragment__media .react-json-view {
      &,
      & > ul {
        background-color: transparent !important;
      }
    }

    .simple-webpage-screenshot-show-fragment__details {
      height: 0;
      overflow: hidden;
    }
  }
}

#layout.bp5-dark {
  .simple-webpage-screenshot-show-fragment__inner {
    background-color: rgba(255, 255, 255, 0.05) !important;
  }
}

#layout:not(.bp5-dark) {
  .simple-webpage-screenshot-show-fragment__inner {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
