@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  src: url(../../fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  src: url(../../fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  src: url(../../fonts/Bitter/Bitter-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-style: italic;
  src: url(../../fonts/Bitter/Bitter-Italic-VariableFont_wght.ttf) format('truetype');
}
