#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.bp5-textarea, .bp5-input {
  &, & * {
    width: 100%;
    height: 100%;
  }
}
