#navbar {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;

  & * {
    -webkit-app-region: no-drag;
    user-select: none !important;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  /**
   * TODO: Remove this when I restore commented code for 'Today' and 'Yesterday' pages
   */
  .bp5-popover-target > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .bp5-navbar-group.bp5-align-left {
    justify-content: flex-start;
  }

  .bp5-navbar-group.bp5-align-right {
    justify-content: flex-end;

    .bp5-popover-target {
      margin: 0;
      padding: 0;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      > .bp5-icon {
        vertical-align: middle !important;
      }
    }
  }
}

#layout.platform-darwin #navbar {
  // Fits positioning of MacOS 'traffic lights' controls
  padding: 0 88px;

  .bp5-navbar-group.bp5-align-left, .bp5-navbar-group.bp5-align-right {
    width: 100px !important;
  }
}

#layout.platform-win32 #navbar {
  box-shadow: none;
  width: 100%;
  padding: 0 12px;

  .bp5-navbar-group.bp5-align-left, .bp5-navbar-group.bp5-align-right {
    width: 170px !important;
  }

  .bp5-navbar-group.bp5-align-right {
    justify-content: flex-start;
  }
}
