#navbar {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;

  & * {
    -webkit-app-region: no-drag;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .bp5-navbar-group.bp5-align-left {
    justify-content: flex-start;
  }

  .bp5-navbar-group.bp5-align-right {
    justify-content: flex-end;
  }
}

#layout.platform-darwin #navbar {
  // Fits positioning of MacOS 'traffic lights' controls
  padding: 0 88px;

  .bp5-navbar-group.bp5-align-left, .bp5-navbar-group.bp5-align-right {
    width: 100px;
  }
}

#layout.platform-win32 #navbar {
  box-shadow: none;
  width: 100%;
  padding: 0 12px;

  .bp5-navbar-group.bp5-align-left, .bp5-navbar-group.bp5-align-right {
    width: 160px !important;
  }
}
