.podcast-rss-feed-capture-show-fragment__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 100%;
  height: 100%;
  gap: 2rem;

  .podcast-rss-feed-capture-show-fragment__feed-details__description {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.85rem;
    opacity: 0.825;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .podcast-rss-feed-capture-show-fragment__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .podcast-rss-feed-capture-show-fragment__content__heading {
      margin: 0;
      padding: 0;
      font-weight: 700;
      opacity: 0.7;
    }

    .podcast-rss-feed-capture-show-fragment__content__grid {
      width: calc(100% + 20px);
      height: 100%;
      position: relative;
      margin-left: -20px !important;
    }
  }

  .podcast-rss-feed-capture-show-fragment__focused {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    filter: brightness(1.05);
    border-radius: 7px;

    .podcast-rss-feed-capture-show-fragment__focused__toggle-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
    }

    .podcast-rss-feed-capture-show-fragment__focused__details-not-found {
      width: 100%;
    }

    .podcast-rss-feed-capture-show-fragment__focused__details {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      max-width: 900px;
      margin: 0 auto;

      .podcast-rss-feed-capture-show-fragment__focused__details__media {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        min-height: 400px;

        & > * {
          width: 100%;
        }
      }

      .podcast-rss-feed-capture-show-fragment__focused__details__title {
        line-height: 3.5rem !important;
        font-size: 2rem !important;
        font-weight: 500;
      }

      .podcast-rss-feed-capture-show-fragment__focused__details__date {
        font-size: 1.2rem;
        line-height: 1.75rem;
        opacity: 0.825;
        font-weight: 400;
      }

      .podcast-rss-feed-capture-show-fragment__focused__details__content {
        padding-top: 1rem;
        font-size: 1.375rem;
        line-height: 2.5rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        user-select: text;

        p {
          line-height: 2.5rem !important;
          font-weight: 300 !important;
        }

        blockquote {
          border-left: 3px solid;
          padding: 0 20px;
        }

        &,
        & * {
          // width: 100%;
          max-width: 100%;
        }
      }
    }

    .podcast-rss-feed-capture-show-fragment__focused__metadata-not-found {
      width: 100%;
    }

    .podcast-rss-feed-capture-show-fragment__focused__metadata {
      width: 100%;
    }
  }
}

#layout.bp5-dark {
  .podcast-rss-feed-capture-show-fragment__focused {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

#layout:not(.bp5-dark) {
  .podcast-rss-feed-capture-show-fragment__focused {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
