.navbar__pause-button {
  animation: navbar__pause-button-animation 2.5s infinite;
}

@keyframes navbar__pause-button-animation {
  0% {
    filter: brightness(0.5)
  }
  50% {
    filter: brightness(1.5)
  }
  100% {
    filter: brightness(0.5)
  }
}
