.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.onboarding__heading {
  font-weight: 100 !important;
  padding: 40px 15px !important;
  text-align: center !important;
  font-size: 3.6rem !important;
}

.onboarding__subheading {
  padding: 20px 15px !important;
  text-align: center !important;
  font-weight: 300 !important;
  opacity: 0.6 !important;
  font-size: 2rem !important;
}

.onboarding__features {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.onboarding__buttons {
  padding: 40px 15px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
